language = "c"
run = "gcc -o hello /home/runner/project2/src/hello.c"

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run C Program"

[[workflows.workflow]]
name = "Run C Program"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc src/main.c -o main && ./main"

[workflows.workflow.metadata]
outputType = "console"
